{% extends 'base.html.twig' %}

{% block title %}{{ articles.title }}{% endblock %}

{% block body %}
<div class="container">
    <div class="article-detail">
        <img src="{{ '../articles/'~articles.image }}" alt="{{ articles.title }}">
        <h1>{{ articles.title }}</h1>
        <div>{{ articles.content|raw }}</div>
    </div>
</div>
{% endblock %}
